header{
margin: 15px;
border-radius: 20px;
background-color: darkslategray;
color: ivory;
}

header h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

section h1{
    text-align: center;
    padding-top: 15px;
}
#escolha{
    padding-top: 10px;
}

